.about {
    padding: 160px 0 60px 0;
    background-color: var(--color-white);
}

.about__content {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.about__title {
    font-size: 50px;
    font-weight: 700;
    color: var(--color-light-green);
    max-width: 500px;
    position: relative;
}

.about__title::before {
    content: 'How it works';
    position: absolute;
    top: -30px;
    left: 0;
    font-size: 24px;
    font-weight: 600;
    color: var(--font-color-light-black);
}

.about__desc {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color-light-black);
    max-width: 670px;
}

.about__cards {
    display: flex;
    margin: 80px 0 0 0;
    justify-content: space-between;
    align-items: start;
    gap: 15px;
}

.about__cards .card:nth-child(2) {
    margin: 240px 0 0 0;
}

@media (max-width: 1250px) {
    .about__content {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 20px;
    }
    .about__cards {
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .about__cards .card:nth-child(2) {
        margin: 0;
    }
}

@media (max-width: 576px) {
    .about__content {
        padding: 0 15px;
    }
    .about__title {
        font-size: 35px;
    }

    .about__desc {
        font-size: 16px;
    }
}