* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: var(--color-white);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

h1, h2 , h3 , h4, h5, h6, p, figure, blockquote {
    margin: 0;
}

.container {
    max-width: 1400px;
    padding: 0 10px;
    margin: 0 auto;
}

.logo {
    width: 81px;
    height: 24px;
    flex-shrink: 0;
}

.btn {
    border: none;
    border-radius: 3px;
    outline: none;
    width: 185px;
    height: 50px;
    color: var(--color-white);
    font-size: 20px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    background-color: var(--color-green);
}

.btn:hover,
.btn:focus-visible {
    outline: 2px solid var(--color-dark-green);
    cursor: pointer;
}

.btn--signin {
    background-color: transparent;
    color: var(--font-color-black);
}