:root {
    --color-white: #fff;
    --color-green: #017F67;
    --color-dark-green: #245852;
    --color-light-green: #019960;

    --font-color-black: #292929;
    --font-color-light-black: #484848;
}